:root {
  --background: hsl(40 100% 98%);
  --foreground: hsl(20 30% 15%);
  --card: hsl(40 100% 98%);
  --card-foreground: hsl(20 30% 15%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(20 30% 15%);
  --primary: hsl(330 85% 80%);
  --primary-foreground: hsl(330 30% 20%);
  --secondary: hsl(190 85% 85%);
  --secondary-foreground: hsl(190 30% 20%);
  --muted: hsl(40 20% 90%);
  --muted-foreground: hsl(20 10% 45%);
  --accent: hsl(150 70% 85%);
  --accent-foreground: hsl(150 30% 20%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(20 20% 90%);
  --input: hsl(20 20% 90%);
  --ring: hsl(330 85% 80%);
  --radius: 1.5rem;
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
}
